02_Web3_AI_News.json
{
  "name": "Web3_AI_News_Daily",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "10a2b231-97f4-441b-bb55-833b75e64d1b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://www.coindesk.com/arc/outboundfeeds/rss/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "14400f96-2197-4bac-9cc5-3d8d77a61243",
      "name": "RSS Read"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "376d9edd-d757-4ca4-9d45-2d1a0e05a70d",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: 你是一个 Web3 行业分析师。\nTask: 请把下面这篇英文新闻总结成中文。\nRequirements: 100字以内，通俗易懂，提取2个关键词。\n\nInput Data:\n标题：{{ $json.title }}\n内容：{{ $json['content:encoded'] }}\n链接：{{ $json.link }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        848,
        0
      ],
      "id": "dad56fa0-c8e3-45a0-833b-caf395bb1c48",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        864,
        192
      ],
      "id": "d890676f-696d-481d-83cc-cde8ed49a1a5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "vvRezYzCcGGCaLGJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "22120884@siswa.um.edu.my",
        "subject": "【Web3早报】今日AI摘要",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1168,
        0
      ],
      "id": "906b2e13-577a-40ce-aa87-e24dc0c8c1b8",
      "name": "Send a message",
      "webhookId": "76426519-ec53-4ae4-a5af-dd2cc0c29fd0",
      "credentials": {
        "gmailOAuth2": {
          "id": "eSWDt4BmKp8wyXYN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "648e534f-c278-4985-afae-93b1bd68c7f7",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "50ca343d-11cb-47d5-bfdb-b0e05d3063b1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a45841d8dfca1875d656c981311a986e08a1e4a5c3aa5344afaf93284041b8d"
  },
  "id": "hd93h2ajdJXCkdxGLGh7N",
  "tags": []
}